<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать на Todoist</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Arial, sans-serif;
        }

        img {
            max-width: 50%;
            height: auto;
        }
    </style>
</head>
<body>

    <!-- Image centered on the page -->
    <img src="https://cdn-aicin.nitrocdn.com/HIAjYmsdLpRQdKpIMJLXFmZsSAYnEnkl/assets/images/optimized/rev-57f6fb0/www.amitree.com/wp-content/uploads/2021/08/the-pros-and-cons-of-paper-to-do-lists.jpeg" alt="To Do List">
</body>
</html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
    <div class="container">
        <h1>WELCOME to our Todo List app!</h1>
        <p>Please, <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a>, to start using the app.</p>
    </div>
</head>
<body>
    
</body>
</html>
