{% extends 'base.html' %}

{% block content %}
<h1>Tasks List</h1>
<form method="get">

    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">search</button>
    </form>
    <form id="search-form" method="get">
       </form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Desription</th>
            <th scope="col">Status</th>
            <th scope="col">Creation date</th>
        </tr>
    </thead>
    <tbody>
        {% for task in object_list %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.created_at }}</td>
            <td><a href="{% url 'task-detail' pk=task.pk %}" class="btn btn-primary">more</a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{% include 'partials/pagination.html' %}
{% endblock %}
