{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h1> Confirm deletion of a task</h1>
    <p>Are you sure you want to delete the task "{{ object }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'task-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
