{% extends 'base.html' %}

{% block content %}
<div class="container mt-3"> 
    <div class="card" style="width: 25rem;">
    <div class="card-body">
        <h1>Create task</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
  </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
